.input {
  border: none;
  border-radius: 3px;
  height: 28px;
  width: 230px;
  outline: none;
  margin-right: 20px;
  box-sizing: border-box;
  padding-left: 10px;
}

.btn {
  border: none;
  border-radius: 3px;
  height: 28px;
  width: 70px;
  font-size: 16px;
  color: white;
  background-color: rgb(69, 39, 160);
}
